<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Maintenance</title>
    </head>
    <body>
        {{> header}}
        <h1>We are currently under maintenance. Sorry...</h1>
        {{> footer}}
    </body>
</html>