<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    {{> header}}

    <p><a href="https://github.com/leobrog/node-web-server">GitHub Repository for this app.</a></p>

    {{> footer}}
</body>
</html>